---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>

  <p style="text-align: justify;">
    Hello! I am currently a M.S. student at the <a href="https://langlab.yonsei.ac.kr/">Language & AGI Lab</a> at Yonsei University, advised by Prof. <a href="https://jinyeo.weebly.com/">Jinyoung Yeo</a>.
    <br>
    <br>
    <!-- My research vision is to build an intelligent AI system that can communicate, reason, perceive and act upon the environment to assist humans and enhance people's quality of life.
    To achieve this vision, my recent research interests
    <b>(1) LLMs' behavior (reasoning, conversation, planning)</b> towards AI agents that can interact with the environment(physical, digital)
    <b>(2)</b>  -->
    My research goal is to build intelligent AI systems that understand world knowledge to provide meaningful assistance to users.
    Mainly, I focus on two complementary directions: (1) developing <b>AI agents that understand and act across diverse environments (digital and physical)</b> to assist users through interaction, 
    and (2) enhancing the <b>knowledge and reasoning capabilities of language models</b> to provide assistance through response generation.
  </p>

  <p>
    Below are some keywords of my recent research interests:
    <ul style="margin-left: 1em; margin-top: -1em; margin-bottom: -1em">
      <li>(M)LLM Agents (Physical, Digital)</li>
      <li>Physics & Spatial Understanding</li>
      <li>RL for Long-horizon Tasks</li>
    </ul>
  </p>


</div>



<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-all">Papers</div></li>
    <li><div class="button" data-ref="#papers-selected">Refereed Papers</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% assign previous_year = "" %}
      {% for paper in selected_papers %}
        {% assign current_year = paper.year %}
        {% if current_year != previous_year %}
          <h2 class="bibliography">{{ current_year }}</h2>
          {% assign previous_year = current_year %}
        {% endif %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.demo %}
              <a class="button" href="{{ paper.demo }}" target="_blank">Demo</a>
            {% endif %}

            {% if paper.website %}
              <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane active" id="papers-all">
      {% assign previous_year = "" %}
      {% for paper in site.data.publications.papers %}
        {% assign current_year = paper.year %}
        {% if current_year != previous_year %}
          <h2 class="bibliography">{{ current_year }}</h2>
          {% assign previous_year = current_year %}
        {% endif %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.demo %}
              <a class="button" href="{{ paper.demo }}" target="_blank">Demo</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.website %}
              <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>
  Full CV in <a href={{ "/assets/cv/Taeyoon_s_CV.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

